---
title: Freed Hearts
---
 
<nav>
	<a href="http://freedhearts.org/"><img src="/images/freedhearts_logo.png"></a>
</nav>
<div class="header">
	<h1>LGBT, and also Q.</h1>
	<div class="description">A story about Lorem ipsum dolor sit amet,  instructior conclusionemque te mel, ex eum delenit</div>
</div>

<div class="story">
	<div class="slideshow-container">
	  <div class="mySlides fade">
		 <div class="numbertext">1 / 3</div>
		 <img src="/images/page_2.jpg" style="width:100%">
		    <div class="text-block left">
		    	<div class="stanza child">
		    		<div class="text">Would you like them there or here?</div>
			    	<div class="text">They're just people have no fear!</div>
		    	</div>
		    	<div class="stanza man">
		    		<div class="text">I am not afraid, I am not!</div>
					<div class="text">Don't you even have that thought!</div>
		    	</div>
		    	<div class="stanza man">
		    		<div class="text">I don't like them here or there.</div>
					<div class="text">I don't like them anywhere.</div>
		    	</div>
		    </div>
	   </div>

	  <div class="mySlides fade">
		 <div class="numbertext">2 / 3</div>
		 <img src="/images/page_2.jpg" style="width:100%">
		    <div class="text-block right">
		    	<div class="stanza child">
		    		<div class="text">Would you like them there or here?</div>
			    	<div class="text">They're just people have no fear!</div>
		    	</div>
		    	<div class="stanza man">
		    		<div class="text">I am not afraid, I am not!</div>
					<div class="text">Don't you even have that thought!</div>
		    	</div>
		    </div>
	   </div>


	  <a class="prev" onclick="plusSlides(-1)"></a>
	  <a class="next" onclick="plusSlides(1)"></a>
	</div>
	<br>
</div>