---
title: Freed Hearts
---
 
<nav>
	<a href="http://freedhearts.org/" target='_blank'><img src="images/freedhearts_logo.png"></a>
</nav>
<div class="background-intro">
	<div class="header">
		<div class="subheader">FreedHearts Presents</div>
		<h1>LGBT, and also Q. </br>They're a lot Like Me and You</h1>
		<div class="description">A story about Lorem ipsum dolor sit amet,  instructior conclusionemque te mel, ex eum delenit</div>
	</div>
</div>

<div class="story">
	<div class="slideshow-container">
	  <div class="mySlides fade">
		 <div class="numbertext"><span class="numbers"> Page 1 of 3</span></div>
		 <img src="images/page_2.jpg" style="width:100%">
		    <div class="text-block left">
		    	<div class="stanza child">
		    		<div class="text">Would you like them there or here?</div>
			    	<div class="text">They're just people have no fear!</div>
		    	</div>
		    	<div class="stanza man">
		    		<div class="text">I am not afraid, I am not!</div>
					<div class="text">Don't you even have that thought!</div>
		    	</div>
		    	<div class="stanza man">
		    		<div class="text">I don't like them here or there.</div>
					<div class="text">I don't like them anywhere.</div>
		    	</div>
		    </div>
	   </div>

	  <div class="mySlides fade">
		 <div class="numbertext"><span class="numbers">Page 2 of 3</span></div>
		 <img src="images/page_2.jpg" style="width:100%">
		    <div class="text-block right">
		    	<div class="stanza child">
		    		<div class="text">Would you like them there or here?</div>
			    	<div class="text">They're just people have no fear!</div>
		    	</div>
		    	<div class="stanza man">
		    		<div class="text">I am not afraid, I am not!</div>
					<div class="text">Don't you even have that thought!</div>
		    	</div>
		    </div>
	   </div>


	  <a class="prev" onclick="plusSlides(-1)"><span class="chevron left"></span></a>
	  <a class="next" onclick="plusSlides(1)"><span class="chevron right"></span></a>
	</div>
	<br>
	<div class="footer">
		<div class="footer-text">To find resources and learn more, please visit <a href="http://freedhearts.org/">FreedHearts.org</a>.</div>
	</div>
</div>